.studyBlock {
  position: relative;
  max-width: 300px;
  width: 100%;
  background: rgba(51, 62, 81, 0.7);
  backdrop-filter: blur(30.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 20px;
  z-index: 1;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    height: 20px;
    background: rgba(51, 62, 81, 0.6);
    -webkit-backdrop-filter: blur(27.5px);
    backdrop-filter: blur(27.5px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  > .studyEmoji {
    max-width: 117px;
    width: 100%;
    margin-bottom: 23px;
    > img {
      width: 100%;
      object-fit: none;
    }
  }
  > .studyDescription {
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.7px;
      color: #ffffff;
    }
  }
}
